
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a class="btn btn-primary"  href="https://www.monkeytype.com">Click me</a>
@{

    DateTime a = DateTime.Now;
    <h1>@a</h1>
    <h1>{@DateTime.Now.Date}</h1>
}